
package templates

templ NotFound() {
	@Layout() {
		<div class="error-container">
			<h1 class="error-title">404 - Not Found</h1>
			<p class="error-message">The page you are looking for might be in another castle.</p>
		</div>
	}
}
