package templates 

import "contact.app/model"
import "fmt"

templ ContactDetail(contact *model.Contact) {
	@Layout() {
		<h1>{ contact.First } { contact.Last }</h1>
		<div>
			<div>Phone: { contact.Phone }</div>
			<div>Email:  { contact.Email }</div>
		</div>
		<p>
			<a href={ templ.URL(fmt.Sprintf("/contacts/%d/edit", contact.Id)) }>Edit</a>
			<a href="/contacts">Back</a>
		</p>
	}
}
