package templates

import (
	"fmt"
	"contact.app/model"
)

templ ContactRows(contacts []model.Contact) {
	for _, contact := range contacts {
		<tr>
			<td>{ contact.First }</td>
			<td>{ contact.Last } </td>
			<td>{ contact.Phone } </td>
			<td>{ contact.Email }</td>
			<td>
				<a href={ templ.URL(fmt.Sprintf("/contacts/%d/edit", contact.Id)) }>Edit</a>
				<a href={ templ.URL(fmt.Sprintf("/contacts/%d", contact.Id)) }>View</a>
			</td>
		</tr>
	}
}
