
package templates

templ Layout() {
	<!DOCTYPE html>
	<html lang="">
		<head>
			<title>Contact App</title>
		</head>
		<body>
			<main>
				<header>
					<h1>
						Contacts App
					</h1>
				</header>
				{ children... }
			</main>
		</body>
	</html>
}
