package templates

templ Oops() {
	@Layout() {
		<div class="error-container">
			<h1 class="error-title">Oops, Something Went Wrong</h1>
			<p class="error-message">We apologize for the inconvenience. Please try again later.</p>
		</div>
	}
}
